
.inputContainer {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: flex-start;
}

.label {
    margin-bottom: 0.2rem;
}

.control {
    margin-bottom: 0.8rem;
    min-width: 20rem;
}

pre.error {
    color: var(--vscode-testing-iconFailed);
}
